# If using SASS to compile stylesheets this saves conflicts, plus there not needed! #

# No need to add the assets folder to the repo #

assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
media/


# sitemaps not needed locally #
sitemap.xml
sitemap.xml.gz

# no need for these #
readme.html
license.txt
.log
.DS_Store
.htaccess
*.log
.TODO
note.txt